body{
	background: url('http://i.imgur.com/ClTEo.png') repeat top left fixed;
}
.pun {
	min-width: 960px;
	max-width: 1280px;
}
#pun-title, #pun-desc {display: none!important;}
#pun-intro{
	background: 0 !important;
	border-bottom: 0;
	padding: 10px;
}
#pun-logo {
	display: block;
	width: 960px;
	height: 150px;
	background: grey;
	margin: 0 auto;
}
#pun-head #pun-navlinks {
background-color: transparent;
border-color: none;
padding: 0;
}
#pun-head {
	margin-bottom: 30px;
}
#pun-navlinks {
	text-align: center;
	position: relative;
}
.current {background: rgba(0, 0, 0, 0.3);}
#pun-navlinks ul {
	background: url('http://i.imgur.com/IlOz4.png');
	border-top: 1px solid #2F3233;
	border-bottom: 1px solid black;
	border-radius: 10px;
}
#pun-navlinks ul li {
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.06);
	cursor: pointer;
	height: 45px;
	line-height: 45px;
	display: inline-block;
	list-style: none;
	padding: 0 5px;
	float: left;
	overflow: hidden;
	width: 78px;
	text-align: center;
}
#pun-navlinks ul li:first-child {display: none!important;}
#pun-navlinks ul li:nth-child(n+9) {float: right;}
#pun-navlinks ul li:nth-child(9) {
	float: left;
	width: 0;
	padding: 0;
	border-right: 0;
}
#pun-navlinks ul li:nth-child(2) {display: none!important;}
#pun-navlinks ul li:nth-child(3) {display: none!important;}
#pun-navlinks ul li:nth-child(4) {border-left:0; border-radius: 10px 0 0 10px;}
#pun-navlinks ul li:nth-child(9) {border-right:0; border-radius: 0 10px 10px 0;}
#pun-navlinks ul li:last-child {
	float: right;
	width: 0;
	padding: 0;
	border-left: 0;
}
#pun-navlinks ul li a {
	display: block;
	text-decoration: none;
	color: #c6c6c6;
	text-shadow: 0px -1px 0 black;
	font-size: 11px;
	position: relative;
	margin: 0;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
#pun-navlinks ul li:hover > a {
	color: white;
	text-decoration: none;
	text-shadow:0 0 1px black ,0 0 2px #030C12, 0 0 3px #10D9FF, 0 0 10px #0c8eff, 0 0 20px #0D68FF,0 0 20px #10D9FF;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
#pun-navlinks a:hover, #pun-navlinks a:focus {text-decoration: none;}
#pun-navlinks a:active {text-decoration: none; border:0;}
#pun-navlinks ul li a img {display: none!important;}
#pun-navlinks .flash {}
#logo_GG {
	display: block;
	background: url('http://i.imgur.com/B2tnQ.png');
	background-position: top;
	width: 120px;
	height:	77px;
	margin-left: -60px;
	position: absolute;
	left: 50%;
	top: 0px;
}
#logo_GG a{
	display: block;
	background: url('http://i.imgur.com/B2tnQ.png');
	background-position: bottom;
	width: 120px;
	height:	77px;
	margin-left: -60px;
	position: absolute;
	left: 50%;
	top: 0px;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
#logo_GG a:hover {
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	   -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
@-webkit-keyframes flashAnimC{ from{color:#c6c6c6;} 50%{text-shadow:0 0 1px black ,0 0 2px #030C12, 0 0 3px #10D9FF, 0 0 10px #0c8eff, 0 0 20px #0D68FF,0 0 20px #10D9FF; color:white;} to {color:#c6c6c6;} } 
   @-moz-keyframes flashAnimC{ from{color:#c6c6c6;} 50%{text-shadow:0 0 1px black ,0 0 2px #030C12, 0 0 3px #10D9FF, 0 0 10px #0c8eff, 0 0 20px #0D68FF,0 0 20px #10D9FF; color:white;} to {color:#c6c6c6;} } 
    @-ms-keyframes flashAnimC{ from{color:#c6c6c6;} 50%{text-shadow:0 0 1px black ,0 0 2px #030C12, 0 0 3px #10D9FF, 0 0 10px #0c8eff, 0 0 20px #0D68FF,0 0 20px #10D9FF; color:white;} to {color:#c6c6c6;} } 
     @-o-keyframes flashAnimC{ from{color:#c6c6c6;} 50%{text-shadow:0 0 1px black ,0 0 2px #030C12, 0 0 3px #10D9FF, 0 0 10px #0c8eff, 0 0 20px #0D68FF,0 0 20px #10D9FF; color:white;} to {color:#c6c6c6;} } 
        @keyframes flashAnimC{ from{color:#c6c6c6;} 50%{text-shadow:0 0 1px black ,0 0 2px #030C12, 0 0 3px #10D9FF, 0 0 10px #0c8eff, 0 0 20px #0D68FF,0 0 20px #10D9FF; color:white;} to {color:#c6c6c6;} } 
#pun-navlinks .flash {
        -webkit-animation: flashAnimC 3s linear infinite;
           -moz-animation: flashAnimC 3s linear infinite;
            -ms-animation: flashAnimC 3s linear infinite;
             -o-animation: flashAnimC 3s linear infinite;
                animation: flashAnimC 3s linear infinite;
}

@media screen and (min-width: 1280px) {
	#pun-navlinks ul li {
		padding: 0 7px;
		overflow: hidden;
	}
	#pun-navlinks ul li a{
		font-size: 12px;
	}
}
@media screen and (min-width: 1600px) {
	#pun-navlinks ul li {
		padding: 0 17px;
		overflow: hidden;
	}
}
