<div id="galerie">
	<ul id="galerie_mini">
		<li>
			<a href="http://i1181.photobucket.com/albums/x427/Wistity/095.png" title="Tail">
				<img src="http://i1181.photobucket.com/albums/x427/Wistity/095.png" alt="Tail" />
			</a>
		</li>
		<li>
			<a href="http://gfxf.net/images/lsP.png" title="Che">
				<img src="http://gfxf.net/images/lsP.png" alt="Che" />
			</a>
		</li>
		<li>
			<a href="http://image.noelshack.com/fichiers/2012/30/1343515144-from-the-nef-2.png" title="TEGL">
				<img src="http://image.noelshack.com/fichiers/2012/30/1343515144-from-the-nef-2.png" alt="TEGL" />
			</a>
		</li>
		<li>
			<a href="http://i.imgur.com/FffJL.png" title="TEGL">
				<img src="http://i.imgur.com/FffJL.png" alt="TEGL" />
			</a>
		</li>
		<li>
			<a href="http://i.minus.com/i5H8M9mZchWRk.png" title="Che">
				<img src="http://i.minus.com/i5H8M9mZchWRk.png" alt="Che" />
			</a>
		</li>
		<li>
			<a href="http://img11.hostingpics.net/pics/500233GirlVexel.png" title="Kaigan">
				<img src="http://img11.hostingpics.net/pics/500233GirlVexel.png" alt="Kaigan" />
			</a>
		</li>
		<li>
			<a href="http://nsa30.casimages.com/img/2012/07/09/1207090904172319.png" title="Harry">
				<img src="http://nsa30.casimages.com/img/2012/07/09/1207090904172319.png" alt="Harry" />
			</a>
		</li>
		<li>
			<a href="http://img11.hostingpics.net/pics/366465HotAirBalloon.png" title="Kaigan">
				<img src="http://img11.hostingpics.net/pics/366465HotAirBalloon.png" alt="Kaigan" />
			</a>
		</li>
		<li>
			<a href="http://i1127.photobucket.com/albums/l621/LKCV02/vskizu.png" title="Vysa">
				<img src="http://i1127.photobucket.com/albums/l621/LKCV02/vskizu.png" alt="Vysa" />
			</a>
		</li>
		<li>
			<a href="http://f.cl.ly/items/43221I1J1g3K0E3Y0x3j/lightning2.png" title="Nawel">
				<img src="http://f.cl.ly/items/43221I1J1g3K0E3Y0x3j/lightning2.png" alt="Nawel" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/860282WaterLily.png" title="Kaigan">
				<img src="http://img15.hostingpics.net/pics/860282WaterLily.png" alt="Kaigan" />
			</a>
		</li>
		<li>
			<a href="http://img11.hostingpics.net/pics/696128giraffe2.png" title="esiao">
				<img src="http://img11.hostingpics.net/pics/696128giraffe2.png" alt="esiao" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/604690Fc81ANvfby.png" title="Majiin Ryo">
				<img src="http://img15.hostingpics.net/pics/604690Fc81ANvfby.png" alt="Majiin Ryo" />
			</a>
		</li>
		<li>
			<a href="http://i1070.photobucket.com/albums/u491/DtK6/VersusKia.png" title="DTK">
				<img src="http://i1070.photobucket.com/albums/u491/DtK6/VersusKia.png" alt="DTK" />
			</a>
		</li>
		<li>
			<a href="http://imageftw.com/uploads/20120802/Taokaff.png" title="Che">
				<img src="http://imageftw.com/uploads/20120802/Taokaff.png" alt="Che" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/964923nnB74036wm.png" title="teen">
				<img src="http://img15.hostingpics.net/pics/964923nnB74036wm.png" alt="teen" />
			</a>
		</li>
		<li>
			<a href="http://www.tinyuploads.com/images/GE0AUx.png" title="Gliscor974">
				<img src="http://www.tinyuploads.com/images/GE0AUx.png" alt="Gliscor974" />
			</a>
		</li>
		<li>
			<a href="http://img11.hostingpics.net/pics/799932Sanstitre43.png" title="esiao">
				<img src="http://img11.hostingpics.net/pics/799932Sanstitre43.png" alt="esiao" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/160699summer1.png" title="Yaan">
				<img src="http://img15.hostingpics.net/pics/160699summer1.png" alt="Yaan" />
			</a>
		</li>
		<li>
			<a href="http://i.imgur.com/YtyWb.png" title="Kizu">
				<img src="http://i.imgur.com/YtyWb.png" alt="Kizu" />
			</a>
		</li>
		<li>
			<a href="http://img11.hostingpics.net/pics/772366IlyauratoujoursunespoiraudeldestnbresSupernikobe.png" title="H-S93">
				<img src="http://img11.hostingpics.net/pics/772366IlyauratoujoursunespoiraudeldestnbresSupernikobe.png" alt="H-S93" />
			</a>
		</li>
		<li>
			<a href="http://i1126.photobucket.com/albums/l608/VaaaNGFX/Free%20Tags/430.png" title="VaaaN">
				<img src="http://i1126.photobucket.com/albums/l608/VaaaNGFX/Free%20Tags/430.png" alt="VaaaN" />
			</a>
		</li>
		<li>
			<a href="http://i.imgur.com/TxCOs.png" title="Samy">
				<img src="http://i.imgur.com/TxCOs.png" alt="Samy" />
			</a>
		</li>
		<li>
			<a href="http://i1127.photobucket.com/albums/l621/LKCV02/vsharry-1.png" title="Vysa">
				<img src="http://i1127.photobucket.com/albums/l621/LKCV02/vsharry-1.png" alt="Vysa" />
			</a>
		</li>
		<li>
			<a href="http://i1090.photobucket.com/albums/i375/kizu1/05-3.png" title="Kizu">
				<img src="http://i1090.photobucket.com/albums/i375/kizu1/05-3.png" alt="Kizu" />
			</a>
		</li>
	</ul>
	<dl id="photo">
		<dt>(cliquez sur une miniature)</dt>
		<dd>
			<img id="big_pict" src="http://i.imgur.com/9o4xT.png" alt="Galaxy Graph" />
		</dd>
	</dl>
</div>