<div id="galerie">
	<ul id="galerie_mini">
		<li>
			<a href="http://d9.e-loader.net/fF3dwNv4BU.jpg" title="Zenira">
				<img src="http://d9.e-loader.net/fF3dwNv4BU.jpg" alt="Zenira" />
			</a>
		</li>
		<li>
			<a href="http://www.heberger-image.fr/data/images/46308_s_972_truel_copie.png" title="Majiin-Ryo">
				<img src="http://www.heberger-image.fr/data/images/46308_s_972_truel_copie.png" alt="Majiin-Ryo" />
			</a>
		</li>
		<li>
			<a href="http://f.cl.ly/items/273L2B2c1n0k0N0s1h1y/5%20minutes.png" title="Nawel">
				<img src="http://f.cl.ly/items/273L2B2c1n0k0N0s1h1y/5%20minutes.png" alt="Nawel" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/950499smudge.png" title="esiao">
				<img src="http://img15.hostingpics.net/pics/950499smudge.png" alt="esiao" />
			</a>
		</li>
		<li>
			<a href="http://i1090.photobucket.com/albums/i375/kizu1/space.png" title="Kizu">
				<img src="http://i1090.photobucket.com/albums/i375/kizu1/space.png" alt="Kizu" />
			</a>
		</li>
		<li>
			<a href="http://i.imgur.com/NKhdm.png" title="Green + Kizu">
				<img src="http://i.imgur.com/NKhdm.png" alt="Green + Kizu" />
			</a>
		</li>
		<li>
			<a href="http://i1090.photobucket.com/albums/i375/kizu1/skull-5.png" title="Kizu">
				<img src="http://i1090.photobucket.com/albums/i375/kizu1/skull-5.png" alt="Kizu" />
			</a>
		</li>
		<li>
			<a href="http://sournoishack.com/uploads/2146621888yeah_yaay.png" title="mehdi">
				<img src="http://sournoishack.com/uploads/2146621888yeah_yaay.png" alt="mehdi" />
			</a>
		</li>
		<li>
			<a href="http://i1126.photobucket.com/albums/l608/VaaaNGFX/Free%20Tags/406.png" title="VaaaN">
				<img src="http://i1126.photobucket.com/albums/l608/VaaaNGFX/Free%20Tags/406.png" alt="VaaaN" />
			</a>
		</li>
		<li>
			<a href="http://i1090.photobucket.com/albums/i375/kizu1/foalssign2.png" title="Kizu">
				<img src="http://i1090.photobucket.com/albums/i375/kizu1/foalssign2.png" alt="Kizu" />
			</a>
		</li>
		<li>
			<a href="http://i.imgur.com/TaAoL.png" title="Ushio">
				<img src="http://i.imgur.com/TaAoL.png" alt="Ushio" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/897678CollabEsiaoDtksansnotes.png" title="DtK + esiao">
				<img src="http://img15.hostingpics.net/pics/897678CollabEsiaoDtksansnotes.png" alt="DtK + esiao" />
			</a>
		</li>
		<li>
			<a href="http://image.noelshack.com/fichiers/2012/25/1340201867-Sanstitre-.png" title="Zbeer">
				<img src="http://image.noelshack.com/fichiers/2012/25/1340201867-Sanstitre-.png" alt="Zbeer" />
			</a>
		</li>
		<li>
			<a href="http://i1127.photobucket.com/albums/l621/LKCV02/skull.png" title="Couleurs">
				<img src="http://i1127.photobucket.com/albums/l621/LKCV02/skull.png" alt="Couleurs" />
			</a>
		</li>
		<li>
			<a href="http://d10.e-loader.net/DH7l73wnCx.png" title="Majiin-Ryo">
				<img src="http://d10.e-loader.net/DH7l73wnCx.png" alt="Majiin-Ryo" />
			</a>
		</li>
		<li>
			<a href="http://i1127.photobucket.com/albums/l621/LKCV02/fts/green.png" title="Green + Couleurs">
				<img src="http://i1127.photobucket.com/albums/l621/LKCV02/fts/green.png" alt="Green + Couleurs" />
			</a>
		</li>
		<li>
			<a href="http://i45.servimg.com/u/f45/12/95/84/83/skull10.png" title="Kabylifornien">
				<img src="http://i45.servimg.com/u/f45/12/95/84/83/skull10.png" alt="Kabylifornien" />
			</a>
		</li>
		<li>
			<a href="http://img15.hostingpics.net/pics/520005sotwcrane3.png" title="esiao">
				<img src="http://img15.hostingpics.net/pics/520005sotwcrane3.png" alt="esiao" />
			</a>
		</li>
		<li>
			<a href="http://d24.e-loader.net/xGC0Wn44wg.jpg" title="Zenira">
				<img src="http://d24.e-loader.net/xGC0Wn44wg.jpg" alt="Zenira" />
			</a>
		</li>
		<li>
			<a href="http://d12.e-loader.net/ySppSXFtkd.png" title="Gliscor974">
				<img src="http://d12.e-loader.net/ySppSXFtkd.png" alt="Gliscor974" />
			</a>
		</li>
	</ul>
	<dl id="photo">
		<dt>(cliquez sur une miniature)</dt>
		<dd>
			<img id="big_pict" src="http://img11.hostingpics.net/pics/774267CDM18juin02juillet.png" alt="Galaxy Graph" />
		</dd>
	</dl>
</div>